@model IEnumerable<StoreParser.Models.Product>

@{ ViewData["Title"] = "Parsed priducts"; }

<h1>Store: <code>https://www.prodj.com.ua/studio-monitors/</code></h1>
<h3>List of products</h3>
<hr />
<div class="container">
    div.row
</div>
@foreach (var product in Model)
{
    <div>
    <h4>@product.Name</h4>
    @foreach(var image in product.Images)
    {
        @if (image.Data != null)
        {
            <img style='width:200;' src="data:image/jpeg;base64,@(Convert.ToBase64String(image.Data))" />
        }
    }
    </div>
}
