@{
    ViewData["Title"] = "ProDjShopPaser";
}
<div class="container container-fluid">
    <h1 class="page-header header-light">ProDjShopPaser</h1>

    <h3 class="header-light">This parser handles the following link</h3>
    <a href="https://www.prodj.com.ua/studio-monitors/">https://www.prodj.com.ua/studio-monitors/</a>
    <hr />
    <div class="container">
        <div class="row">
            <a asp-controller="Admin" asp-action="StartParse">
                <button class="btn btn-success">Start parsing</button>
            </a>
            <a asp-controller="Admin" asp-action="StopParse">
                <button class="btn btn-danger">Stop parsing</button>
            </a>
        </div>
        <div>
            <h3 class="header-light">
                Parser status is:
                <span class="label label-primary">@ViewData["TimerStatus"]</span>
            </h3>
        </div>
    </div>
</div>


